* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;  /* Hozzáadott szélesség */
}

header h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;  /* Hozzáadott szélesség */
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer i {
    color: red;
}

.center-text {
    text-align: center;
}

.large-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px; /* Távolság az ikonok között */
    margin-top: 20px;
}

.social-media figure {
    margin: 0;
}

.social-media img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.dcimg {
    cursor: pointer;
}

.invitebutton {
    font-weight: bold;
    border: none;
    /*background-color: rgb(0, 0, 0);*/
    color: rgb(255, 255, 255);
    padding: 18px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;

}

.button1 {
    background-color: rgb(0, 255, 0); 
    color: rgb(0, 0, 0); 
    border: 2px solid #000000;
}
  
.button1:hover {
    background-color: rgb(10, 131, 10);
    color: rgb(0, 0, 0);
}
/*
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
*/

.a0001 {
    color: white;
}