body {
    /*background-color: rgb(98, 98, 98);*/
    background-image: url(/imgs/39632.jpg);
    background-size: cover;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(48, 48, 48); 
    color: rgb(255, 255, 255); 
    border: 2px solid #000000;
}
  
.button1:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

footer {
    font-family: Arial;
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    color: white;
}

.kamurokar{
    float: right;
    text-align: right;
    border-radius: 25px;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
}

.aimg{
    /*position: fixed; */
    width: 100px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.features {
    padding: 8%;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.features figure {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: -200px;
}

.features figure img {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

figure img:hover {
    filter: brightness(0.7);
}

section {
    text-align: center;
    padding: 6%;
}

section header {
    margin-top: 0px;
    font-family: 'Arial';
    font-size: 60px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

.contact {
    margin-top: 10px;
}

section div {
    font-family: 'Arial';
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
}

/*.yt{
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.dc{
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.tw{
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.mail{
    width: 100px;
    margin: 10px;
    padding: 10px;
}

figure img {
    position: relative;
    margin: 10px 0 0 0;
}

.thingys{
    text-align: center;
}*/